<!--
COMP229 Assignment 1 - footer.ejs
Sultan Sadaqat (301161755)
Prof. Deepti Sharma
October 2nd, 2023 
-->
<!DOCTYPE html>
<html lang="en">

<body>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>