<!--
COMP229 Assignment 1 - aboutme.ejs
Sultan Sadaqat (301161755)
Prof. Deepti Sharma
October 2nd, 2023 
-->
<!DOCTYPE html>
<html lang="en">
    <header></header>
    <body>

        <table>
            <tr><img src="/images/logo.png" height = "100px"/></tr>
        </table>

        <div style="padding-top: 10px;">
            <h1>About me</h1>
            <img src="/images/photo.png" />

                <p>Name: Sultan Sadaqat<p>

                <p> 
                    I'm a Software Engineering student at "Centennial College". I was born in Ontario, Canada where I currently reside. <br>
                    I am currently in my second year of Software Engineering where I have been learning new programming skills frequently.  <br>
                    Some of my personal interests include: <br>
                    - Cars & Racing (Motorsport) <br>
                    - Cooking <br>
                    - Music <br>
                    - Gaming <br>
                    I live my life 4 tyres at a time. I am a hardcore racing enthusiast which you'll find essential to my personality. <br>
                    It would be a dream of mine to combine my innovative programming ideas with modern motorsport advancements.
                </p>
                <br>
                <p>
                You can find my <a href="/Resumé.pdf">resume</a> here. <br>
                </p>
        </div>
    </body>
</html>
