<!--
COMP229 Assignment 1 - contact.ejs
Sultan Sadaqat (301161755)
Prof. Deepti Sharma
October 2nd, 2023 
-->
<!DOCTYPE html>
<html lang="en">
    <header></header>
    <body>
        <table>
            <tr><img src="/images/logo.png" height = "100px"/></tr>
        </table>

        <div style="padding-top: 10px;">
            <h1>Contact Me</h1>
            <table>
                <tr>
                    <td>Email : sultan.sadaqat7@gmail.com</td>
                </tr>
                <tr>
                    <td>Mobile Number : +1 (437)-429-8262</td>
                </tr>
                <tr>
                    <td>LinkedIn - Sultan Sadaqat</td>
                </tr>
                <tr>
                    <td>GitHub - Erykush Badu</td>
                </tr>
            </table>
        </div>
    </body>
</html>
