<!--
COMP229 Assignment 1 - index.ejs
Sultan Sadaqat (301161755)
Prof. Deepti Sharma
October 2nd, 2023 
-->
<!DOCTYPE html>
<html lang="en">
    <header></header>
    <title><%= title %></title>
    <body>
        <!-- Horizontal Table for navigating the page.-->
        <table>
            <tr><img src="/images/logo.png" height = "100px"/></tr>
            <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/aboutme/">About Me</a></td>
                <td><a href="/projects/">Projects</a></td>
                <td><a href="/services/">Services</a></td>
                <td><a href="/contact/">Contact Me</a></td>
            </tr>
        </table>

        <div style="padding-top: 10px;">
            <h2>Sultan Sadaqat - Home</h2>
            <p>
                Welcome to my personal portfolio. On this webpage you'll find information about myself and my skills. <br>
                Feel free to navigate the various webpages and get into contact with me, if there is a service I can offer you. <br>
                You can click <a href="/aboutme/">"About Me"</a> to know more about me personally. 
            </p>
            <br>
            <p>
            <strong>Mission</strong> <br>
            A software engineering student with a desire to innovate programming solutions. <br>
            I am looking for work in the software industry where I can utilize my skillset.
            </p>
        </div>
    </body>
</html>