<!--
COMP229 Assignment 1 - projects.ejs
Sultan Sadaqat (301161755)
Prof. Deepti Sharma
October 2nd, 2023 
-->
<!DOCTYPE html>
<html lang="en">
    <header></header>
    <body>
        <table>
            <tr><img src="/images/logo.png" height = "100px"/></tr>
        </table>
        <div style="padding-top: 10px;">
            <h2>Projects</h2>
            <table>
                <tr>
                    <td><img src="/images/python.png" height="100px"></td>
                    <td>
                        <strong>Mock Stock monitor</strong><br>
                        Program which tracks live value of material / stock.
                        <br>
                        Role: Design & Backend development
                    </td>
                </tr>
                <tr>
                    <td><img src="/images/java.png" height="100px"></td>
                    <td>
                        <strong>Power Manager</strong><br>
                        Simple program which can control power & mouse settings on windows desktops.
                        <br>
                        Role: Design, Full-Stack development
                    </td>
                </tr>
                <tr>
                    <td><img src="/images/sql.png" height="100px"></td>
                    <td>
                        <strong>Cafe management - Database & Server</strong><br>
                        SQL database which tracks inventory, vendor, staff, and sales information.
                        <br>
                        Role: Backend Development
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
